/* game board table */
#game {
  
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 200px;
  
}

#board {
  /* position: relative; */
  background-color: blue;
  overflow: hidden;
}

td {
  width: 50px;
  height: 50px;
  border: solid 1px black;
  border-radius: 50%;
}

tr {
  background-color: white;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  /* max-width: 40px;
  max-height: 40px; */
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  /* position: absolute; */
}

.p1{
  background-color: red;
}

.p2 {
  background-color: yellow;
}

/* column-top is table row of clickable areas for each column */
/* TODO: make column-top row lighter and provide hover effect */

.hovered {
  transition: 1s;
}

.hovered:hover{
  background-color: grey;
}

.piece {
  animation: drop-piece 1s;
}

@keyframes drop-piece {
  0% {
    transform: translate(0, -400px);
  }

  100% {
    transform: translate(0, 0);
  }
}



